.text-center{
  text-align: center;
}
.work-day-scheduler-header{
  padding: 25px;
}
.container{
  padding: 10px;
}
.schedule{
 padding: 25px;   
}
.past {
  background-color: #d3d3d3;
  color: rgb(134, 134, 134);
}

.present {
  background-color: #4e70df;
  color: white;
}

.future {
  background-color: #ffffff;
  color: black;
}
.form-control{
  width: 100%;
}
.event-group{
  width: 100%;
  text-align: left;
}
.event-group>label{
  position:absolute;
  text-align: left;
  float: left;
  margin-top:0px;
  background-color:transparent;
  color: black;
}

.event-group>textarea{
  border:none;
  margin-left: 5%;
  float: left;
  width: 89%;
}
.event-time{
  float: left;
}
.hr{
  float: right;width: 95%;
}



